@using MVCRegistration.Models
@model IEnumerable<User>
@{
    ViewData["Title"] = "Users";
}

<div class="mb-3" style="padding-left: 5rem; padding-right: 5rem;">
    <div class="row g-3 align-items-center">
        <h4 class="fw-bold container-fluid col-md" style="color: #0d6efd">Пользователи</h4>
        <div class="col-auto container-fluid col-md">
            <a a href="/Home/Registration" id="myBtn" style="color: white; float: right; width: 100px;" class="btn btn-primary">Добавить</a>
        </div>
    </div>
    <br />
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Имя</th>
                <th scope="col">Логин</th>
                <th scope="col">Пароль</th>
                <th scope="col">Действия</th>
            </tr>
        </thead>
        <tbody>
            @{ foreach (var user in Model)
                {
                    <tr>
                        <th scope="row">@user.ID_User</th>
                        <td>@user.Surname</td>
                        <td>@user.Name</td>
                        <td>@user.Login</td>
                        <td>@user.Password</td>
                        <td>
                            <a a href="/Home/Users/@user.ID_User/Edit" style="color: white;" class="btn btn-primary">Изменить</a>
                            <a a href="/Home/Users/@user.ID_User/Delete" style="color: white;" class="btn btn-primary">Удалить</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

